.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;

}

a > span{
    margin: 0 30px;
    font-size: 20px;
    cursor: pointer;
    color: white; 
    
    font-family: 'Moulpali', sans-serif;
}

a > span:hover {
    transition: 0.3s;
    opacity: 0.5;
}

.header-icon {
    width: 60px;
    cursor: pointer;
}